<mat-toolbar>
  <span>Katie's Recipe Book</span>
  <span class="example-spacer"></span>
  <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
  <span class="example-spacer"></span>
  <a class="nav-link" routerLinkActive="active" routerLink="/recipe-list">Your Recipes</a>
  <span class="example-spacer"></span>
  <a class="nav-link" routerLinkActive="active" routerLink="/shopping-list">Your Shopping List</a>
  <span class="example-spacer"></span>
  <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Browse Recipes</a>
</mat-toolbar>