<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ recipe?.title }}</mat-card-title>
    <mat-card-subtitle href="{recipe?.href}">View</mat-card-subtitle>
  </mat-card-header>

  <p class="ingredients-header">Ingredients ({{ recipe.ingredients.length }}):</p>
  <mat-card-content class="ingredient-container">
    <mat-list role="list">
      <mat-list-item *ngFor="let ingredient of recipe.ingredients" role="listitem">{{ ingredient }}</mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>ADD INGREDIENTS TO SHOPPING LIST</button>
    <button mat-button [routerLink]="['recipe-list', recipe?.title]">VIEW</button>
  </mat-card-actions>
</mat-card>